@use '../variables/color' as *;

/*統一設定*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    color: $brown-100;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}