// Primary color :春夏秋冬
$winter-blue: #D2ECFF;
$summer-green: #D6F6DC;
$autumn-red: #FFE2D2;
$spring-yellow: #FFF4CA;

// Secindary color: 各縣市花色
$Taipei-purple: #9D47B9;
$NewTaipeiCity-yellow: #FFD700;
$Keelung-purple: #C075E3;
$Yilan-purple: #F47EDE;
$Taoyuan-pink: #FF61B0;
$Hsinchu-pink: #FFA8B5;
$HsinchuCity-orange: #FF8457;
$sky-blue: #7DC5E4;
$grass-green: #69C9A0;

// Background: 底圖色塊
$bg-green: #D6F6DC;
$bg-blue: #D2ECFF;
$bg-gray: #F5F5F5;

// Text Color: 字體顏色
$brown-100: #64503C;
$brown-70: rgb(100, 80, 60, 70%);
$brown-10: rgb(100, 80, 60, 10%);

// 中性色
$white: #fff;


// opacity; 透明度
$op-10: 0.1;
$op-20: 0.2;
$op-30: 0.3;
$op-50: 0.5;
$op-70: 0.7;
$op-100:1;