// font-size
$f-s-xs: .75rem;
$f-s-sm: .85rem;
$f-s-md: 1rem;  //16px
$f-s-lg: 1.2rem; //20px
$f-s-xl: 1.5rem; //24px
$f-s-xxl: 1.8rem;
$f-s-xxxl: 2rem; //32px
$f-s-ex: 4rem;

// font-weight
$f-w-b: 800px;
$f-w-m: 600px;
$f-w-n: 500px;