// spacing
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 25px;
$space-xl: 30px;
$space-ex: 110px;

$space-x-sm: 0 15px;
$space-x-md: 0 20px;
$space-x-lg: 0 25px;
$space-x-xl: 0 30px;

$space-y-xs: 10px 0;
$space-y-sm: 15px 0;
$space-y-md: 20px 0;
$space-y-lg: 25px 0;
$space-y-xl: 30px 0;

// radius (px)
$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 32px;
$radius-ex: 99px;

// z-index

// width
$w-100: 100%;
$w-80: 80%;

