 p {
     line-height: 1.5;
 }

 a {
     text-decoration: none;
     color: rgb(255, 51, 119);
     font-weight: 800;
 }

 a:hover {
     text-decoration: underline;
 }

 .ttpShow {
     display: none;
 }

 #ttpPanel {
     position: absolute;
     z-index: 99;
     background-color: #ffffff;
     width: 150px;
     text-align: left;
     border: 3px solid #ccc;
     padding: 20px;
     display: none;
 }